<!DOCTYPE html>
<html>

<head>
    <title>Setembro Amarelo - Sua vida vale muito</title>
    <!-- Inclua os links para os arquivos CSS do Bootstrap e jQuery -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">    
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Qual é o significado de Setembro Amarelo?</h1>
        <p>
            Setembro Amarelo é o mês de prevenção ao suicídio e conscientização sobre transtornos mentais. Essa é uma
            iniciativa do Centro de Valorização da Vida (CVV), Conselho Federal de Medicina (CFM) e Associação Brasileira
            de Psiquiatria (ABP).
        </p>
    </div>
</body>

</html>
