<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS</title>
</head>
<body>
    <h1>Bem vindo ao servidor ExpressJS</h1>
    <hr>
    <p>Essa é a nossa página inicial</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates voluptatem ipsa odio optio eum neque voluptatum nobis. Labore, doloremque nulla necessitatibus, ad nam beatae iste totam, atque numquam animi vel!</p>
    
    <p><a href="/">Inicial</a> | <a href="/sobre">sobre</a> | <a href="/contato">contato</a></p> 


</body>
</html>